<hr>
<div class="flash error">
  <%= l(:failed_find_issue_custom_field) %>
  <% if User.current.admin? %>
    <%= link_to l(:button_configure),
      plugin_settings_path(:id => :redmine_release_notes) %>
  <% end %>
</div>
