<script>
  function toggle_release_notes_div(id) {
	var el = document.getElementById(id);
	el.style.display = (el.style.display == 'none' ? 'block': 'none' );
  }
</script>

<hr />
<h2><%= l('release_notes.generate_title', :version => @version.name) %></h2>

<div id="roadmap">
<%= render :partial => 'release_notes/dashboard', :locals => {:version => version}  %>
</div> 

<hr />
