<% if @project.enabled_module_names.include? "release_notes" %>
<% c = CustomField.find_by_name("Release notes required") %>
<% if issue.tracker.custom_fields.include?(c) %>

<% @relnotes = issue.release_note %>

<hr />

<div class="contextual">
  <% if @relnotes %>
    <%= link_to l(:button_edit), {:controller => 'release_notes', :action => 'edit', :id => @relnotes} %> |
    <%= link_to l(:button_delete), {:controller => 'release_notes', :action => 'delete', :id => @relnotes}, :confirm => l(:release_notes_destroy_confirmation) %>
  <% else %>
    <%= link_to l(:button_add), {:controller => 'release_notes', :action => 'new', :issue_id => issue.id} %>
  <% end %>
</div>

<p><strong>Release notes</strong></p>
<% if @relnotes %>
<p><%= @relnotes.text.gsub(/\r\n/, "<br />") %></p>
<% end %>

<% end %>
<% end %>
