<% html_title l(:generate_title, :version => @version.name) %>

<div style="width:100%;">
<h2><%= l(:generate_title, :version => @version.name) %></h2>
<p><%= link_to( l(:mark_version_as_generated), {:action => 'mark_version_as_generated', :id => @version.id}, :method => :post) %> </p>

<%= render_other_formats(@formats) %>
  
<% str_generated = html_escape(generate_release_notes_header(@version.id, @formats[@format]) + "\n" + generate_release_notes(@version.id, @formats[@format])) %>

<div style="width: 80%; margin: 10px auto 10px auto; border: thin solid #222266;" id="relnotes">
<pre style="padding:3em;"><%= str_generated %></pre>
</div>
</div>
