<div class="box tabular settings">
<%= form_tag(:action => :plugin) do %>
  <p>
    <%= label_tag 'settings[default_generation_format_id]',
      t('release_notes.default_generation_format') %>
    <%= select_tag 'settings[default_generation_format_id]',
      options_from_collection_for_select(@formats, 'id', 'name',
                              @settings[:default_generation_format_id].to_i) %>
  </p>
</div>

<%= submit_tag t(:button_save) %>
<% end %>
