<h2><%= l(:label_settings) %>: <%= l('release_notes.title_plural') %></h2>

<%= render_tabs release_notes_settings_tabs %>

<% html_title(l('release_notes.title_plural'),
              l(:label_settings),
              l(:label_administration)) -%>
