# You don't need to restart Redmine after modifying this file.

# See this page:
#   https://github.com/hdgarrood/redmine_release_notes/wiki/Setup-Guide
# for an explanation.

HTML:
    header: "<h2>Release notes for version %{name}</h2>\n<p><a href=\"your-redmine/versions/%{id}\">Redmine</a></p>"
    start: "<ul>"
    each_issue: "<li>%{tracker} - <a href=\"your-redmine/issues/%{id}\">%{subject}</a>: %{release_notes}</li>"
    end: "</ul>"
    
Textile:
    header: "h2. Release notes for version %{name}"
    start: ""
    each_issue: "* *%{subject}*: %{release_notes}"
    end: ""
    
Markdown:
    header: "## Release notes for version %{name}"
    start: ""
    each_issue: "+ **%{subject}**: %{release_notes}"
    end: ""

Plain:
    header: "Release notes for version %{name}\n=============================="
    start: ""
    each_issue: "> %{subject}\n    %{release_notes}"
    end: ""
    